.headerMain {
    background-color: var(--red);
    width: 100%;
    padding: 25px;

    .headerContainer {
        margin: 0 auto;
        max-width: 1300px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .pokedexContainer {
            display: flex;
            align-items: center;

            h1 {
                color: var(--white);
                margin-left: 1rem;
                font-size: 2rem;
            }
        }

        .logoContainer {
            display: flex;
            align-items: center;

            img {
                margin-right: 1rem;
            }
        }
    }
}